@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
$color: white;
body{
    background: #211370;
}
.description{
    color: $color;
    .title{
        margin: 40px 0 40px 0;
    }
    .description-block{
        display: flex;
        justify-content: center;
    }
}
.default_block{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-top: 20px;
    max-width: 400px;
}

label{
    margin: 0;
}

.big_form{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
        .secectors{
            background: #ffffff ;
                div{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                    height: 70px;
                        input{
                            width: 20%;
                            min-width: 40px;
                            text-align: center;
                        }
                }
        }
        .load_files{
            background: #ffffff;
                .upload{
                    display: flex;
                    height: 100%;
                    text-align: center;
                    align-items: center;
                }
        }
    @media (max-width: 767px){
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

svg{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }