@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

body {
  background: #000839;
}

.description {
  color: white;
}

.description .title {
  margin: 40px 0 40px 0;
}

.description .description-block:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0;
}

@media (max-width: 767px) {
  .description .description-block:nth-child(2) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.default_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  margin-top: 20px;
  max-width: 400px;
}

label {
  margin: 0;
}

.big_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.big_form .secectors {
  background: #ffffff;
}

.big_form .secectors div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.big_form .secectors div input {
  width: 20%;
  min-width: 40px;
  text-align: center;
}

.big_form .load_files {
  background: #ffffff;
}

.big_form .load_files .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .big_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

circle {
  -webkit-animation-name: rout;
          animation-name: rout;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes rout {
  30% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes rout {
  30% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=style.css.map */