<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>Svg captions</title>
</head>
<body>

    <div class="container">
        <form action="/convert" method="post" id="start" enctype='multipart/form-data'>
            <div class="big_form">
                <div class="secectors default_block">
                    <div class="sel_block">
                        <label for="colors">Image colors</label>
                        <input type="number" id="colors" value="3" min="1">
                    </div>
                    <div class="sel_block">
                        <span>Blur</span>
                        <label class="switch">
                            <input type="checkbox" name="add_blur">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="sel_block">
                        <label for="pieces_size">Max size of pieces</label>
                        <input type="number" id="pieces_size" value="2" min="1">
                    </div>
                    <div class="sel_block">
                       <button type="submit" class="btn btn-info">Start</button>
                    </div>
                </div>
                <div class="load_files default_block" id="myId">
                    <label class="upload" for="file-upload"> 
                        <span id="import-img">
                            Click to upload your raster image!
                        </span>
                    </label>
                    <input id="file-upload" type="file" name="file" value="kek" accept="image/x-png,image/jpeg,image/jpg" style="display: none;" onchange='uploadFile(this)'>  
                </div>
            </div>
        </form>
    </div>











    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/script/script.js"></script>
</body>
</html>