<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/slider.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    </head>
    <body>
        <div>
            <div class="vector-back-upper">
                <!-- 123 -->
            </div>
            <!-- <div class="block w-75 mx-auto px-5">
                <span class="header text-center d-block py-5">SVG Converter</span>
                <div class="pl-5 float-left" style="width: 40%">
                    <span class="upper-text">Convert all raster formats to vector format SVG</span>
                </div>
                <div class="" style="margin-left: 50%; width: 60%; padding-left: 10%; position: absolute;">
                    <span class="upper-text d-block pb-4">1. Upload your raster image</span>
                    <span class="upper-text d-block pb-4">2. Set settings</span>
                    <span class="upper-text d-block pb-4">3. Click start and wait a bit (sometimes it takes about one minute)</span>
                </div>
            </div> -->
        </div>
        <div class="vector-back w-100">
            <svg style="position: absolute;" class="p-absolute w-100" width="1920" height="1080" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <rect width="1920" height="1080" fill="#000839"/>
                <rect x="1368" width="776" height="1080" rx="87" fill="#FFA41B"/>
                <circle cx="1230.15" cy="371.15" r="299.947" transform="rotate(45 1230.15 371.15)" stroke="#00A8CC" stroke-width="65"/>
                <g filter="url(#filter0_d)">
                <path d="M1449.81 425.71C1384.14 354.77 1292.97 312.824 1196.37 309.1C1099.77 305.375 1005.65 340.178 934.71 405.851C863.77 471.524 821.824 562.688 818.1 659.288C814.375 755.888 849.178 850.011 914.851 920.951L971.458 868.546C919.684 812.619 892.247 738.416 895.183 662.26C898.119 586.103 931.188 514.233 987.115 462.458C1043.04 410.684 1117.25 383.247 1193.4 386.183C1269.56 389.119 1341.43 422.188 1393.2 478.115L1449.81 425.71Z" fill="#FFA41B"/>
                </g>
                <g filter="url(#filter1_d)">
                <circle cx="1230" cy="371" r="212.5" stroke="#005082" stroke-width="15"/>
                </g>
                <line x1="199.268" y1="1164.56" x2="386.651" y2="840" stroke="#FFA41B" stroke-width="4"/>
                <line x1="229.087" y1="1181.91" x2="406.087" y2="875.335" stroke="#FFA41B" stroke-width="4"/>
                <line x1="259.398" y1="1199.41" x2="425.398" y2="911.888" stroke="#FFA41B" stroke-width="4"/>
                <line x1="289.709" y1="1216.91" x2="445.209" y2="947.575" stroke="#FFA41B" stroke-width="4"/>
                <line x1="320.02" y1="1234.41" x2="459.02" y2="993.653" stroke="#FFA41B" stroke-width="4"/>
                <circle cx="262.5" cy="824.5" r="16.5" fill="#FFA41B"/>
                <circle cx="362" cy="753" r="55" fill="#FFA41B"/>
                <circle cx="331.5" cy="267.5" r="204" stroke="#00A8CC" stroke-width="9"/>
                <circle cx="331.5" cy="267.5" r="183.5" fill="#00A8CC"/>
                <circle cx="331.5" cy="267.5" r="100.5" fill="#000839"/>
                </g>
                <circle cx="1471" cy="76" r="25" fill="#000839"/>
                <circle cx="1817" cy="323" r="14" fill="#005082"/>
                <circle cx="1678.5" cy="904.5" r="44.5" fill="#00A8CC"/>
                <circle cx="941.5" cy="615.5" r="13.5" fill="#005082"/>
                <circle cx="993.5" cy="695.5" r="33.5" fill="#00A8CC"/>
                <g filter="url(#filter2_d)">
                <circle cx="1021" cy="91" r="61" fill="#FFA41B"/>
                </g>
                <defs>
                <filter id="filter0_d" x="782.518" y="266.999" width="681.812" height="719.462" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <filter id="filter1_d" x="1006" y="151" width="448" height="448" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <filter id="filter2_d" x="956" y="30" width="130" height="130" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <filter id="filter3_d" x="1080" y="236" width="616" height="616" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                <filter id="filter4_di" x="227" y="305" width="513" height="478" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
                </filter>
                <clipPath id="clip0">
                <rect width="1920" height="1080" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <form action="/convert" method="post" id="start" enctype='multipart/form-data'>
            <div class="d-flex flex-row w-75 mx-auto justify-content-between" style="margin-top: 17%;">
                <div class="settings py-5 col-4"> 
                    
                    <table>
                        <tbody class="align-bottom">
                        <tr>
                            <td ><label for="colors">Image colors</label></td>
                            <td><input type="number" id="colors" name="colors" value="3" min="1"></td>
                        </tr>
                        <!-- Material switch -->
                        <tr>
                            <td>Add blur</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="add_blur">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="pieces_size">Max size of pieces</label></td>
                            <td><input type="number" id="pieces_size" name="pieces_size" value="2"></td>
                        </tr>
                    </tbody>
                    </table> 
                    <div class="text-center mt-5">
                        <button id="start-button" class="btn btn-warning font-weight-bold" style="background-color: #FFA41B; width: 13rem; font-size: 1.5rem; color: black;" type="submit">
                            Start
                        </button>
                    </div>
                    <div id="error-message"></div>
                </div>   
                <div class="upload col-4" id="myId">
                    <label class="upload-button d-flex" for="file-upload">
                        
                        <span id="import-img" class="upload-text d-flex">
                            Click to upload your raster image!
                        </span>
                    </label>
                    <input id="file-upload" type="file" name="file" value="kek" accept="image/x-png,image/jpeg,image/jpg" style="display: none;" onchange='uploadFile(this)'>  
                </div>
            </form> 
            </div>        
        </div>
        <div class="d-flex flex-row" id="compare" style="margin-top: 40%;">
            <div id="compare-block" class="d-flex flex-row w-100 compare-block" >
                <div class="flex-column col-6 p-0 text-center" style="border: 1px solid black;">Before</div>
                <div class="flex-column col-6 p-0 text-center" style="border: 1px solid black;">
                    After
                    <form action="/getSVG" method="GET" style="display: inline;">
                        <button class="btn btn-warning p-0" style="color: black;">
                            <svg width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 469.333 469.333" style="enable-background:new 0 0 469.333 469.333;" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path d="M469.271,264.512c-0.336-3.51-1.64-6.885-3.791-9.991l-95.975-138.667c-3.978-5.75-10.539-9.188-17.537-9.188h-63.983
                                            c-5.894,0-10.664,4.771-10.664,10.667v21.333c0,5.896,4.77,10.667,10.664,10.667h52.799L414.617,256h-51.984
                                            c-23.515,0-42.655,19.135-42.655,42.667c0,11.76-9.56,21.333-21.328,21.333H170.684c-11.768,0-21.328-9.573-21.328-21.333
                                            c0-23.531-19.141-42.667-42.655-42.667H54.717l73.832-106.667h52.799c5.894,0,10.664-4.771,10.664-10.667v-21.333
                                            c0-5.896-4.77-10.667-10.664-10.667h-63.983c-6.998,0-13.559,3.438-17.537,9.188L3.853,254.521
                                            c-2.151,3.105-3.455,6.672-3.791,10.182c-0.139,0.688,0,161.964,0,161.964c0,23.531,19.141,42.667,42.655,42.667h383.899
                                            c23.515,0,42.655-19.135,42.655-42.667C469.271,426.667,469.411,265.199,469.271,264.512z"/>
                                        <path d="M163.143,180.042l-15.077,15.082c-4.166,4.165-4.166,10.919,0,15.085l71.521,71.542c4.166,4.167,9.622,6.25,15.079,6.25
                                            s10.914-2.083,15.079-6.25l71.521-71.542c4.166-4.165,4.166-10.919,0-15.085l-15.077-15.082c-4.166-4.165-10.916-4.165-15.082,0
                                            l-35.114,35.125v-204.5C255.994,4.775,251.22,0,245.331,0h-21.328c-5.889,0-10.664,4.775-10.664,10.667v204.5l-35.114-35.125
                                            C174.059,175.876,167.308,175.876,163.143,180.042z"/>
                                    </g>
                                </g>
                            </g>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="flex-column col-6 p-0" style="border: 1px solid black;">
                <img class='w-100' id="raster" />
            </div>
            <div class="flex-column col-6 p-0" id="vector" style="border: 1px solid black;"></div>
        </div>
        <script>
            $("#file-upload").val('');
            $("#compare").addClass('hide');

            $("#start").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                var form = $(this)
                var formdata = new FormData(form[0]);
                var formAction = form.attr('action');
                
                if (!$("#file-upload").val()){
                    $("#import-img").css('color', 'red');
                    $("#error-message").empty();
                    $("#error-message").append(
                        '<div class="alert alert-danger mt-2" role="alert">Img upload is required!</div>'
                    );
                    return
                } else {
                    $("#import-img").css('color', 'black');
                    $("#error-message").empty();
                }

                $("#start-button").text("Loading...");
                $("#start-button").prop('disabled', true);

                $.ajax({
                    url         : formAction,
                    data        : formdata ? formdata : form.serialize(),
                    cache       : false,
                    contentType : false,
                    processData : false,
                    type        : 'POST',
                    success     : function(data, textStatus, jqXHR){
                        if (data['status'] == "ERROR"){
                            $("#start-button").text("Start");
                            $("#start-button").prop('disabled', false);
                            $("#error-message").append(`<div class="alert alert-danger mt-2" role="alert">${data['error']}: ${data['error_msg']}</div>`);
                        } else {
                            $("#raster").attr('src', data['raster']);
                            $("#vector").empty();
                            $("#vector").append(data['vector']);
                            $("#start-button").text("Start");
                            $("#start-button").prop('disabled', false);
                            $("#compare").removeClass('hide');
                        }
                    }
                });
            

            });

            function uploadFile(target) {
                var fn = target.files[0].name;
                $("#import-img").text("");
                $("#import-img").append("You uploaded -> " + fn + "<br>Click again to upload another file!");
            }
            
        </script>
    </body>
</html>