<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/slider.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>Svg captions</title>
</head>
<body>

    <main class="container">
        <div class="description">
            <div class="title"><h1>SVG converter</h1></div>
            <div class="row">
                <div class="description-block col-md-6 col-sm-12"><h3>Convert all raster img</h3></div>
                <div class="description-block col-md-6 col-sm-12">
                    <ol>
                        <li>Upload your raster image</li>
                        <li>Set settings</li>
                        <li>Click Start and wait a bit<br>
                        (sometimes it takes about five minutes)</li>
                    </ol>
                </div>
            </div>
        </div>
        <form action="/convert" method="post" id="start" enctype='multipart/form-data'>
            <div class="big_form">
                <div class="secectors default_block">
                    <div class="sel_block">
                        <label for="colors">Image colors</label>
                        <input type="number" id="colors" value="3" min="1">
                    </div>
                    <div class="sel_block">
                        <span>Blur</span>
                        <label class="switch">
                            <input type="checkbox" name="add_blur">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="sel_block">
                        <label for="pieces_size">Max size of pieces</label>
                        <input type="number" id="pieces_size" value="2" min="1">
                    </div>
                    <div class="sel_block">
                       <button type="submit" class="btn btn-info">Start</button>
                    </div>
                </div>
                <div class="load_files default_block" id="myId">
                    <label class="upload" for="file-upload"> 
                        <span id="import-img">
                            Click to upload your raster image!
                        </span>
                    </label>
                    <input id="file-upload" type="file" name="file" value="kek" accept="image/x-png,image/jpeg,image/jpg" style="display: none;" onchange='uploadFile(this)'>  
                </div>
            </div>
        </form>
        
    </main>

    <svg style="position: absolute;" class="p-absolute w-100" width="1920" height="1080" viewBox="0 0 1920 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <rect width="1920" height="1080" fill="#000839"></rect>
        <rect x="1368" width="776" height="1080" rx="87" fill="#FFA41B"></rect>
        <circle cx="1230.15" cy="371.15" r="299.947" transform="rotate(45 1230.15 371.15)" stroke="#00A8CC" stroke-width="65"></circle>
        <g filter="url(#filter0_d)">
        <path d="M1449.81 425.71C1384.14 354.77 1292.97 312.824 1196.37 309.1C1099.77 305.375 1005.65 340.178 934.71 405.851C863.77 471.524 821.824 562.688 818.1 659.288C814.375 755.888 849.178 850.011 914.851 920.951L971.458 868.546C919.684 812.619 892.247 738.416 895.183 662.26C898.119 586.103 931.188 514.233 987.115 462.458C1043.04 410.684 1117.25 383.247 1193.4 386.183C1269.56 389.119 1341.43 422.188 1393.2 478.115L1449.81 425.71Z" fill="#FFA41B"></path>
        </g>
        <g filter="url(#filter1_d)">
        <circle cx="1230" cy="371" r="212.5" stroke="#005082" stroke-width="15"></circle>
        </g>
        <line x1="199.268" y1="1164.56" x2="386.651" y2="840" stroke="#FFA41B" stroke-width="4"></line>
        <line x1="229.087" y1="1181.91" x2="406.087" y2="875.335" stroke="#FFA41B" stroke-width="4"></line>
        <line x1="259.398" y1="1199.41" x2="425.398" y2="911.888" stroke="#FFA41B" stroke-width="4"></line>
        <line x1="289.709" y1="1216.91" x2="445.209" y2="947.575" stroke="#FFA41B" stroke-width="4"></line>
        <line x1="320.02" y1="1234.41" x2="459.02" y2="993.653" stroke="#FFA41B" stroke-width="4"></line>
        <circle cx="262.5" cy="824.5" r="16.5" fill="#FFA41B"></circle>
        <circle cx="362" cy="753" r="55" fill="#FFA41B"></circle>
        <circle cx="331.5" cy="267.5" r="204" stroke="#00A8CC" stroke-width="9"></circle>
        <circle cx="331.5" cy="267.5" r="183.5" fill="#00A8CC"></circle>
        <circle cx="331.5" cy="267.5" r="100.5" fill="#000839"></circle>
        </g>
        <circle cx="1471" cy="76" r="25" fill="#000839"></circle>
        <circle cx="1817" cy="323" r="14" fill="#005082"></circle>
        <circle cx="1678.5" cy="904.5" r="44.5" fill="#00A8CC"></circle>
        <circle cx="941.5" cy="615.5" r="13.5" fill="#005082"></circle>
        <circle cx="993.5" cy="695.5" r="33.5" fill="#00A8CC"></circle>
        <g filter="url(#filter2_d)">
        <circle cx="1021" cy="91" r="61" fill="#FFA41B"></circle>
        </g>
        <defs>
        <filter id="filter0_d" x="782.518" y="266.999" width="681.812" height="719.462" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
        </filter>
        <filter id="filter1_d" x="1006" y="151" width="448" height="448" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
        </filter>
        <filter id="filter2_d" x="956" y="30" width="130" height="130" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
        </filter>
        <filter id="filter3_d" x="1080" y="236" width="616" height="616" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
        </filter>
        <filter id="filter4_di" x="227" y="305" width="513" height="478" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow"></feBlend>
        </filter>
        <clipPath id="clip0">
        <rect width="1920" height="1080" fill="white"></rect>
        </clipPath>
        </defs>
    </svg>











    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/script/script.js"></script>
</body>
</html>